
.admintopp{
    position: fixed;
    z-index: 10000;
    height: 10%;
}
.adminsidee{
    position: fixed;
    z-index: 9999;
    height: 90%;
}
.alladmcard {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: #FFFCFF;
 
}
.admleftcard{
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-top: 7.5%;
    background-color: #FFFCFF;

}

.admlefttopcard{
    width: 760px; 
    height: 150px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    padding: 20px;
    margin-left: 5%;
    background-color: white;
    padding-top: 5%;
    font-size: 20px;
}
.admleftbottomcard{
    display: flex;
    flex-direction: row;
    background-color: #FFFCFF;
    margin-top: 3%;
}
.admbottomleftcard{
    width: 485px; 
    height: 455px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    padding: 20px;
    margin-left: 5%;
    background-color: white;

}
.admbottomrightcard{
    width: 315px; 
    height: 455px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    padding: 20px;
    margin-left: 5%;
    background-color: white;

}
.admrightcard{
    display: flex;
    flex-direction: column;
    margin-top: 7.5%;
    background-color: #FFFCFF;

}
.admrighttop{
    width: 470px; 
    height: 300px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    padding: 20px;
    background-color: white;

}
.admrightbottom{
    width: 470px; 
    height: 300px; 
    margin-top: 6%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    padding: 20px;
    background-color: white;

}
#weladmdashc{
    color:black;

}
.card-link-crs{
    text-decoration: none;
}
.crslistul{
    margin-top: 8%;
    list-style-type:disc;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.crslistli{
    font-size: 18px;
    margin-left: -20px;

}
@media screen and (max-width:1024px) {
    
    .alladmcard {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-evenly; 
    }
    .admleftcard{
        display: flex;
        flex-direction: column;
        margin-left: 11%;
        margin-top: 11%;
    }
    .admlefttopcard{
        width: 740px; 
        height: 150px; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
        margin-left: 5%;
    }
    .admleftbottomcard{
        display: flex;
        flex-direction: row;
        margin-top: 4%;
    }
    .admbottomleftcard{
        width: 465px; 
        height: 455px;  
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
        margin-left: 5%;
    }
    .admbottomrightcard{
        width: 315px; 
        height: 455px; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
        margin-left: 5%;
    }
    .admrightcard{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        margin-left: 15%;
    }
    .admrighttop{
        width: 500px; 
        height: 300px;  
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
        background-color: white;
    
    }
    .admrightbottom{
        width: 500px; 
        height: 300px; 
        margin-top: 6%; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
        background-color: white;
        margin-bottom: 5%;
    
    }
}
@media screen and (max-width:768px) {
    .admintopp{
        position: fixed;
        z-index: 10000;
        height: 10%;
    }
    .adminsidee{
        position: fixed;
        z-index: 9999;
        height: auto;
        width: 100%;
        bottom: 0;
    }
    .alladmcard {
        display: flex; 
        justify-content: space-evenly; 
        width: 94%;        
        flex-direction: column;
        margin-left: -6%;
    }
    .admleftcard{
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        width: 100%;
        align-self: flex-start;

    }
    #weladmdash{
        font-size: 20px;
    }
    .admlefttopcard{
        width: 90%; 
        height: 70px; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
    }
    .admleftbottomcard{
        display: flex;
        flex-direction: column;
        margin-top: 4%;
    }
    .admbottomleftcard{
        width: 90%; 
        height: 250px;  
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 15px;
        padding: 20px;
        font-size: 13px;
    }
    .admbottomrightcard{
        width: 90%; 
        height: 250px; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 15px;
        padding: 20px;
        margin-top: 5%;
        font-size: 13px;
    }
    .admrightcard{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 100%;
        }
    .admrighttop{
        width: 90%; 
        height: 280px;  
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 15px;
        padding: 20px;
        background-color: white;
        font-size: 13px;
    }
    .admrightbottom{
        width: 90%; 
        height: 280px; 
        margin-top: 6%; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 20px;
        padding: 20px;
        background-color: white;
        margin-bottom: 22%;
        font-size: 13px;
    
    }
}