.Adminsidebar {
    width:140%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    position: relative; top: 10%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 9999;
    background-color: white;
}

.admnav_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1px;
    height: 100%;

}
.admlinks{
    text-decoration: none;
    color:black;
    opacity: 72%;
    height: 30%;

}
.admlinks:hover{
    opacity: 100%;
    color: #bf93f4;
}
.admlinks.active {
    
    background-color: #7E30E1;
    color: white;
    opacity: 110%;
}
.adm-active{
    background-color: #7E30E1;
    color: white;
    opacity: 110%;
}


.admsidetext {
   
    font-size: 23px;
   
}

.admsideicon {
    font-size: 40px;
    padding-top: 8%;
    
}
@media screen and (max-width:1024px) {
    .Adminsidebar{
        width:130%;
        display: flex;
        flex-direction: column;
        margin-top: 7%;
        position: relative; top: 10%;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        z-index: 9999;
        background-color: white;
    }
    .admnav_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1px;
        height: 100%;
    
    }
    .admlinks{
        text-decoration: none;
        color:black;
        opacity: 72%;
        height: 30%;
    
    }
    .admlinks:hover{
        opacity: 100%;
        color: #bf93f4;
    }
    .admlinks.active {
    
        background-color: #7E30E1;
        color: white;
        opacity: 110%;
    }
    
    .adm-active{
        background-color: #7E30E1;
        color: white;
        opacity: 110;
    }
    .admsidetext {
   
        font-size: 18px;
       
    }
    
    .admsideicon {
        font-size: 35px;
        padding-top: 10%;
        
    }
}
@media screen and (max-width:768px){
    .Adminsidebar{
        width:100%;
        display: flex;
        flex-direction: row;
        bottom: 0;
        position: relative;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        z-index: 9999;
        background-color: white;
        align-items: center;
    }
    .admnav_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
        align-items: start;
    
    }
    .admlinks{
        text-decoration: none;
        color:black;
        opacity: 72%;
        height: 100%;
        width: 100%;
    
    }
    .admlinks:hover{
        opacity: 100%;
        color: #bf93f4;
    }
    .admlinks.active {
    
        background-color: #7E30E1;
        color: white;
        opacity: 110%;
    }
    
    .adm-active{
        background-color: #7E30E1;
        color: white;
        opacity: 110;
    }
    .admsidetext {
   
        font-size: 18px;
        display: none;
       
    }
    
    .admsideicon {
        font-size: 40px;
        padding-top: 5%;
        
    }

}