.Studentsidebar {
    width:140%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    position: relative; top: 10%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 9999;
    background-color: white;
}

.stdnav_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1px;
    height: 100%;

}
.stdlinks{
    text-decoration: none;
    color:black;
    opacity: 72%;
    height: 30%;

}
.stdlinks:hover{
    opacity: 100%;
    color: #bf93f4;
}
.std-active{
    background-color: #7E30E1;
    color: white;
    opacity: 110%;
}
.stdlinks.active {
    
    background-color: #7E30E1;
    color: white;
    opacity: 110%;
}

.stdsidetext {
   
    font-size: 23px;
   
}

.stdsideicon {
    font-size: 40px;
    padding-top: 5%;
    
}
@media screen and (max-width:1024px) {
    .Studentsidebar{
        width:130%;
        display: flex;
        flex-direction: column;
        margin-top: 7%;
        position: relative; top: 10%;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        z-index: 9999;
        background-color: white;
    }
    .stdnav_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1px;
        height: 100%;
    
    }
    .stdlinks{
        text-decoration: none;
        color:black;
        opacity: 72%;
        height: 30%;
    
    }
    .stdlinks:hover{
        opacity: 100%;
        color: #bf93f4;
    }
    .stdlinks.active {
    
        background-color: #7E30E1;
        color: white;
        opacity: 110%;
    }
    .std-active{
        background-color: #7E30E1;
        color: white;
        opacity: 110;
    }
    .stdsidetext {
   
        font-size: 18px;
       
    }
    
    .stdsideicon {
        font-size: 35px;
        padding-top: 10%;
        
    }
}
@media screen and (max-width:768px){
    .Studentsidebar{
        width:100%;
        display: flex;
        flex-direction: row;
        bottom: 0;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        z-index: 9999;
        background-color: white;
        position: relative;
    }
    .stdnav_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width: 100%;
        align-items: start;
    
    }
    .stdlinks{
        text-decoration: none;
        color:black;
        opacity: 72%;
        height: 100%;
        width: 100%;
    
    }
    .stdlinks:hover{
        opacity: 100%;
        color: #bf93f4;
    }
    .stdlinks.active {
    
        background-color: #7E30E1;
        color: white;
        opacity: 110%;
    }
    .std-active{
        background-color: #7E30E1;
        color: white;
        opacity: 110;
    }
    .stdsidetext {
   
        font-size: 18px;
        display: none;
       
    }
    
    .stdsideicon {
        font-size: 40px;
        padding-top: 0%;
        
    }

}